<a href="https://colab.research.google.com/github/sathishvanga/PySpark/blob/main/introduction_to_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Spark

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [ ]:
spark

In [ ]:
df  = spark.read.option('header','true').csv('/content/scores_data.csv',inferSchema=True)

In [ ]:
df.printSchema()

root
 |-- Batch : string (nullable = true)
 |-- User_ID : string (nullable = true)
 |--    Score   : string (nullable = true)

In [ ]:
df.show()

+----------+--------+-----------+
|    Batch |User_ID |   Score   |
+----------+--------+-----------+
|AI_ELITE_7| uid_149|      6 / 7|
|AI_ELITE_7| uid_148|      6 / 7|
|AI_ELITE_7| uid_147|      7 / 7|
|AI_ELITE_7| uid_146|      7 / 7|
|AI_ELITE_7| uid_145|      4 / 7|
|AI_ELITE_7| uid_144|      7 / 7|
|AI_ELITE_7| uid_143|      5 / 7|
|AI_ELITE_7| uid_142|      7 / 7|
|AI_ELITE_7| uid_141|      3 / 7|
|AI_ELITE_7| uid_140|      6 / 7|
|AI_ELITE_7| uid_139|      6 / 7|
|AI_ELITE_7| uid_138|      3 / 7|
|AI_ELITE_7| uid_137|      6 / 7|
|AI_ELITE_7| uid_136|      5 / 7|
|AI_ELITE_7| uid_135|      6 / 7|
|AI_ELITE_7| uid_134|      7 / 7|
|AI_ELITE_7| uid_133|      7 / 7|
|AI_ELITE_7| uid_132|      7 / 7|
|AI_ELITE_7| uid_131|      5 / 7|
|AI_ELITE_7| uid_130|      7 / 7|
+----------+--------+-----------+
only showing top 20 rows

In [ ]:
df.columns

['Batch ', 'User_ID ', '   Score   ']

In [ ]:
df.select('   Score   ').show()

+-----------+
|   Score   |
+-----------+
|      6 / 7|
|      6 / 7|
|      7 / 7|
|      7 / 7|
|      4 / 7|
|      7 / 7|
|      5 / 7|
|      7 / 7|
|      3 / 7|
|      6 / 7|
|      6 / 7|
|      3 / 7|
|      6 / 7|
|      5 / 7|
|      6 / 7|
|      7 / 7|
|      7 / 7|
|      7 / 7|
|      5 / 7|
|      7 / 7|
+-----------+
only showing top 20 rows

In [ ]:
df.describe().show()

+-------+----------+--------+-----------+
|summary|    Batch |User_ID |   Score   |
+-------+----------+--------+-----------+
|  count|       149|     149|        149|
|   mean|      NULL|    NULL|       NULL|
| stddev|      NULL|    NULL|       NULL|
|    min|AI_ELITE_4|   uid_1|      0 / 7|
|    max|AI_ELITE_7|  uid_99|      7 / 7|
+-------+----------+--------+-----------+

In [ ]:
# adding columns into dataframe
df=df.withColumn('Age',df['   Score   '])

In [ ]:
df.show()

+----------+--------+-----------+-----+
|    Batch |User_ID |   Score   |  Age|
+----------+--------+-----------+-----+
|AI_ELITE_7| uid_149|      6 / 7|6 / 7|
|AI_ELITE_7| uid_148|      6 / 7|6 / 7|
|AI_ELITE_7| uid_147|      7 / 7|7 / 7|
|AI_ELITE_7| uid_146|      7 / 7|7 / 7|
|AI_ELITE_7| uid_145|      4 / 7|4 / 7|
|AI_ELITE_7| uid_144|      7 / 7|7 / 7|
|AI_ELITE_7| uid_143|      5 / 7|5 / 7|
|AI_ELITE_7| uid_142|      7 / 7|7 / 7|
|AI_ELITE_7| uid_141|      3 / 7|3 / 7|
|AI_ELITE_7| uid_140|      6 / 7|6 / 7|
|AI_ELITE_7| uid_139|      6 / 7|6 / 7|
|AI_ELITE_7| uid_138|      3 / 7|3 / 7|
|AI_ELITE_7| uid_137|      6 / 7|6 / 7|
|AI_ELITE_7| uid_136|      5 / 7|5 / 7|
|AI_ELITE_7| uid_135|      6 / 7|6 / 7|
|AI_ELITE_7| uid_134|      7 / 7|7 / 7|
|AI_ELITE_7| uid_133|      7 / 7|7 / 7|
|AI_ELITE_7| uid_132|      7 / 7|7 / 7|
|AI_ELITE_7| uid_131|      5 / 7|5 / 7|
|AI_ELITE_7| uid_130|      7 / 7|7 / 7|
+----------+--------+-----------+-----+
only showing top 20 rows

In [ ]:
#droping the column

df = df.drop('Age')

df.show()

+----------+--------+-----------+
|    Batch |User_ID |   Score   |
+----------+--------+-----------+
|AI_ELITE_7| uid_149|      6 / 7|
|AI_ELITE_7| uid_148|      6 / 7|
|AI_ELITE_7| uid_147|      7 / 7|
|AI_ELITE_7| uid_146|      7 / 7|
|AI_ELITE_7| uid_145|      4 / 7|
|AI_ELITE_7| uid_144|      7 / 7|
|AI_ELITE_7| uid_143|      5 / 7|
|AI_ELITE_7| uid_142|      7 / 7|
|AI_ELITE_7| uid_141|      3 / 7|
|AI_ELITE_7| uid_140|      6 / 7|
|AI_ELITE_7| uid_139|      6 / 7|
|AI_ELITE_7| uid_138|      3 / 7|
|AI_ELITE_7| uid_137|      6 / 7|
|AI_ELITE_7| uid_136|      5 / 7|
|AI_ELITE_7| uid_135|      6 / 7|
|AI_ELITE_7| uid_134|      7 / 7|
|AI_ELITE_7| uid_133|      7 / 7|
|AI_ELITE_7| uid_132|      7 / 7|
|AI_ELITE_7| uid_131|      5 / 7|
|AI_ELITE_7| uid_130|      7 / 7|
+----------+--------+-----------+
only showing top 20 rows

In [ ]:
# rename the columns

df = df.withColumnRenamed('   Score   ','Score')

In [ ]:
df.show()

+----------+--------+-----+
|    Batch |User_ID |Score|
+----------+--------+-----+
|AI_ELITE_7| uid_149|6 / 7|
|AI_ELITE_7| uid_148|6 / 7|
|AI_ELITE_7| uid_147|7 / 7|
|AI_ELITE_7| uid_146|7 / 7|
|AI_ELITE_7| uid_145|4 / 7|
|AI_ELITE_7| uid_144|7 / 7|
|AI_ELITE_7| uid_143|5 / 7|
|AI_ELITE_7| uid_142|7 / 7|
|AI_ELITE_7| uid_141|3 / 7|
|AI_ELITE_7| uid_140|6 / 7|
|AI_ELITE_7| uid_139|6 / 7|
|AI_ELITE_7| uid_138|3 / 7|
|AI_ELITE_7| uid_137|6 / 7|
|AI_ELITE_7| uid_136|5 / 7|
|AI_ELITE_7| uid_135|6 / 7|
|AI_ELITE_7| uid_134|7 / 7|
|AI_ELITE_7| uid_133|7 / 7|
|AI_ELITE_7| uid_132|7 / 7|
|AI_ELITE_7| uid_131|5 / 7|
|AI_ELITE_7| uid_130|7 / 7|
+----------+--------+-----+
only showing top 20 rows